<script setup lang="ts">
import { reactive } from 'vue';
import { play_converter, result_converter, winner_converter } from './utils.ts';
import * as wasm from 'game';

type Moves = {
  player_one: PlayerMove;
  player_two: PlayerMove;
};

type PlayerMove = {
  play: wasm.Play;
  result: wasm.ResultPlay;
};

let state = reactive({
  winner: wasm.Player.None,
  plays_win_one: 0,
  plays_win_two: 0,
  moves: [],
});

const increment_plays_win = (winner_play: wasm.Player): void => {
  switch (winner_play) {
    case wasm.Player.One:
      state.plays_win_one += 1;
      break;
    case wasm.Player.Two:
      state.plays_win_two += 1;
      break;
    default:
      break;
  }

  if (state.plays_win_one === 3) {
    state.winner = wasm.Player.One;
  } else if (state.plays_win_two === 3) {
    state.winner = wasm.Player.Two;
  }
};

const add_play_move = (
  play_one: wasm.Play,
  play_one_result: wasm.ResultPlay,
  play_two: wasm.Play,
  play_two_result: wasm.ResultPlay,
): void => {
  let player_one: PlayerMove = {
    play: play_one,
    result: play_one_result,
  };

  let player_two: PlayerMove = {
    play: play_two,
    result: play_two_result,
  };

  let new_move: Moves = {
    player_one,
    player_two,
  };

  state.moves.push(new_move);
};

const add_move = (play_one: wasm.Play) => {
  const play_two = wasm.generate_moves();
  const {
    result_one: result_player_one,
    result_two: result_play_two,
    winner,
  }: wasm.Results = wasm.calculate(play_one, play_two);

  add_play_move(play_one, result_player_one, play_two, result_play_two);
  increment_plays_win(winner);
};

const restart = () => {
  state.winner = wasm.Player.None;
  state.plays_win_one = 0;
  state.plays_win_two = 0;
  state.moves = [];
};
</script>

<template>
  <div class="container mx-auto">
    <div class="flex flex-col items-center justify-center">
      <div class="text-5xl font-bold text-header">Game</div>
      <div class="pt-[10px] text-2xl">Paper Rock Scissor</div>
    </div>
    <div class="flex flex-col items-center justify-center pt-[20px]">
      <div>
        <button
          class="mb-2 me-2 rounded-lg bg-gradient-to-r from-cyan-500 to-blue-500 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-gradient-to-bl focus:outline-none focus:ring-4 focus:ring-cyan-300 dark:focus:ring-cyan-800"
          @click="restart"
        >
          Restart
        </button>
      </div>
      <div v-if="state.winner">{{ winner_converter(state.winner) }} won!!!</div>
      <div class="flex flex-row items-start justify-between">
        <div class="flex flex-col items-center justify-center">
          <div>You</div>
          <div class="text-5xl">🙂</div>
          <div class="flex flex-row space-x-4 pt-[15px]">
            <button
              :disabled="state.winner != 0"
              class="rounded border-2 border-amber-400 bg-primary px-4 py-2"
              @click="add_move(wasm.Play.Paper)"
            >
              🖐️
            </button>
            <button
              :disabled="state.winner != 0"
              class="rounded border-2 border-amber-400 bg-primary px-4 py-2"
              @click="add_move(wasm.Play.Rock)"
            >
              ✊
            </button>
            <button
              :disabled="state.winner != 0"
              class="rounded border-2 border-amber-400 bg-primary px-4 py-2"
              @click="add_move(wasm.Play.Scissor)"
            >
              ✌️
            </button>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center">
          <div>Robot</div>
          <div class="text-5xl">🤖</div>
        </div>
      </div>
      <div class="flex flex-col items-center justify-center">
        <div
          v-for="play in state.moves"
          class="flex flex-row justify-between py-[8px] text-3xl"
        >
          <div class="h-[45px] w-[45px]">
            {{ play_converter(play.player_one.play) }}
          </div>
          <div class="h-[45px] w-[45px]">
            {{ result_converter(play.player_one.result) }}
          </div>
          <div class="h-[45px] w-[45px]">
            {{ result_converter(play.player_two.result) }}
          </div>
          <div class="h-[45px] w-[45px]">
            {{ play_converter(play.player_two.play) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
